<footer class="footer">
  <div class="container">
    <div class="col-sm-6">
      <p>
        Created and Operated by TdPharma<br/>
        Contact Info: Tri Dang<br/>
        Title: Master Rally Ninja
      </p>
    </div>
    <div class="col-sm-6">
      <p>
        Email: quangtrister@gmail.com<br/>
        US Phone: 1-417-208-7545<br/>
        VN Phone: 0167 700 5533<br/>
      </p>
    </div>
  </div>
</footer>