<div ng-app="tdpharmaClientApp">
  <div ng-include='"shared/nav-template.html"'></div>
  <div ui-view=""></div>
  <div ng-include="'shared/footer-template.html'"></div>
</div>


<script type="javascript">

</script>